<!-- esta linea indica que este html hereda su estructura de 'template_padre.html' -->
{% extends './base-forms.html' %}
<!-- esto carga los estilos -->
{% load static %}
<!-- ingresamos el contenido que cambiara en las distintas paginas 'hijas' -->
{% block MainContent %}

<h2> LOG IN </h2>
<br>

{% if mi_formulario.error %}
<p style="color:red"> Datos Invalidos! </p>
{% endif %}

<form action="" method="POST"> {% csrf_token %}
    <table>
        {{mi_formulario.as_table}}
    </table>
    <br>
    <input class="btn btn-primary" type="submit" value="Iniciar Sesion" style="padding:10px 50px">
    <br>
</form>
<br><br><br>
<h5>¿Todavía no sos parte de la orden?</h5>
<br>
<a class="btn btn-warning" href="{% url 'Registro' %}"  style="padding:10px 50px">¡Registrate!</a>
<br>

{% endblock MainContent %}