<!-- esta linea indica que este html hereda su estructura de 'template_padre.html' -->
{% extends './base.html' %}
<!-- esto carga los estilos -->
{% load static %}
<!-- ingresamos el contenido que cambiara en las distintas paginas 'hijas' -->
{% block MainContent %}

<div class="text-center">
    <h1>Nuestros Productos:</h1>
    <br>
    <h3> KYBER CRYSTALS </h3>
</div>
<br><br>

{% for i in productos %}
<div>
    <!-- imprimo el nombre del prod (como este definido en el modelo) -->
    <li> {{i}} </li>
    <p> Color: {{i.color}}</p>
    <p> ${{i.precio}} </p>
    <p> Stock disponible: {{i.stock}} </p>

    <a href=""><button type="button" class="btn btn-sm btn-outline-success">
        Editar </button></a>
   
   <a href="{% url 'eliminar_crystal' i.nombre i.color %}"><button type="button" class="btn btn-outline-danger">
        Eliminar</button></a>
   
   <br><br>
</div>
{% endfor %}

<br><br>
<a class="btn btn-primary" href="{% url 'crear_crystal' %}" style="margin: 20px;">Agregar</a>

{% endblock MainContent %}