{% extends './base.html' %}

{% load static %}

{% block MainContent %}

<h2>{{transaccion}}</h2>
<br><br>
<div id="productos-muestra-container">
    <div>
        <h5>{{transaccion.cliente}}</h5>
        <h6>{{transaccion.producto}} --- Cantidad: {{transaccion.cantidad}}</h6>
        <p>Precio total: {{transaccion.precio_total}}</p>
        <p>Fecha de venta: {{transaccion.fecha_venta}}</p>
        <br>
        <p>
            <a href="{% url 'listar_ventas' %}"><button type="button" class="btn btn-sm btn-success">
                Vovler atrás </button></a>
        </p>
    </div>
</div>
<br><br><br>

{% endblock %}