<!-- esta linea indica que este html hereda su estructura de 'template_padre.html' -->
{% extends './base-forms.html' %}
<!-- esto carga los estilos -->
{% load static %}
<!-- ingresamos el contenido que cambiara en las distintas paginas 'hijas' -->
{% block MainContent %}

<h2>Editar Perfil: </h2>
<h3>Usuario: {{request.user.perfil.usuario}}</h3>
<br>

<!-- action-> direccion donde se dirige una vez completo el form -->
<form action="" method="POST"> {% csrf_token %}

    <table>
        {{form.as_table}}
    </table>

    <br>
    <a class="btn btn-secondary" href="{% url 'cambiar_contrasenia' %}" style="padding:10px 50px">Cambiar contraseña</a>
    <br>

    <br>
    <button class="btn btn-primary" type="submit" style="padding:10px 50px">Guardar</button>
    <br>
</form>

{% endblock %}