{% extends './base.html' %}

{% load static %}

{% block MainContent %}

<h1 style="display: inline;padding-right: 30px; vertical-align: middle;">Lista Ventas</h1> <a href="{% url 'ventas crear' %}"><button type="button" class="btn btn-sm btn-outline-primary">Nueva</button></a>
<br><br>
{% for venta in ventas %}
<div id="productos-muestra-container">
    <div>
        <h4>{{venta}}</h4>
        <p>{{venta.fecha_venta}}</p>
        <p>
            <!-- A cada vista le vamos a pasar como argumento el atributo PK que significa Primary Key
            En nuestro caso el PK es el número de ID que Django asigna automaticamente en cada modelo.
            Se utiliza este atributo porque es un número único y no puede generar confusión con ningún otro elemento de la misma clase.
            Al definir la vista no especificamos que se deba recibir este argumento, pero las GenericViews de las que heredamos se encargan de eso.-->
            <a href="{% url 'ventas detalle' venta.pk %}"><button type="button" class="btn btn-sm btn-outline-success">Detalles</button></a>
            |
            <a href="{% url 'ventas editar' venta.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Editar</button></a>
            |
            <a href="{% url 'ventas eliminar' venta.pk %}"><button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button></a>
        </p>
    </div>
</div>
<br><br><br>
{% endfor %}

{% endblock %}