<!-- esta linea indica que este html hereda su estructura de 'template_padre.html' -->
{% extends './base-forms.html' %}
<!-- esto carga los estilos -->
{% load static %}
<!-- ingresamos el contenido que cambiara en las distintas paginas 'hijas' -->
{% block MainContent %}

<h2> LOG OUT </h2>
<br>

{% if mi_formulario.error %}
<p style="color:red"> Datos Invalidos! </p>
{% endif %}

<h4 style="color:rgb(160, 86, 86)"> Has cerrado sesion. </h4>
<br>
<h5 style="color:rgb(161, 161, 161)"> Que la fuerza te acompañe... </h5>
<br><br>
<a href="{% url 'inicio' %}"><button type="button" class="btn btn-sm btn-outline-success">
    Vovler </button></a>

{% endblock %}