<!-- esta linea indica que este html hereda su estructura de 'template_padre.html' -->
{% extends './base-forms.html' %}
<!-- esto carga los estilos -->
{% load static %}
<!-- ingresamos el contenido que cambiara en las distintas paginas 'hijas' -->
{% block MainContent %}

<div class="text-center">
    <h1>Nuestros Productos:</h1>
    <br>
</div>
<br><br>

{% if productos.count == 0 %}
<h4>Lo sentimos... Aún no hay productos disponibles en stock.</h4>
{% else %}

<div id="productos-muestra-container">
    {% for i in lista %}
        {% for producto in i %}
        <div>
            <!-- imprimo el nombre del prod (como este definido en el modelo) -->
            <h4> Producto: {{producto.tipo}} {{producto.nombre}} {{producto.color}}</h4>
            <h5> ${{producto.precio}} </h5>
            <p> {{producto.descripcion}} </p>
            <p> Disponibles: {{producto.stock}} </p>
                
            <!-- <a href="{% url 'comprar_producto' %}"><button type="button" class="btn btn-sm btn-primary">
                Comprar </button></a> -->
            <br><br><br><br>
        </div>
        {% endfor %}
    {% endfor %}
    <br><br>
    <aside id="busqueda-container">
        <h3> Busqueda de Productos: </h3>
        <br>
        <form action="/stock/buscar_producto/" method="GET" id="buscar_producto">
            <p>Ingrese personaje: <input type="text" name="nombre"></p>
            <br>
            <input type="submit" value="Buscar" class="btn btn-sm btn-outline-success">
            <br>
        </form>
    </aside>
</div>

<style>
    #busqueda-container {
        width: 35vw;
        height: 30vh;
        position: fixed;
        bottom: 5%;
        right: 0;
        background-color: auto;
        padding: 0;
    }
</style>
{% endif %}
{% endblock MainContent %}