<!-- esta linea indica que este html hereda su estructura de 'template_padre.html' -->
{% extends './base-forms.html' %}
<!-- esto carga los estilos -->
{% load static %}
<!-- ingresamos el contenido que cambiara en las distintas paginas 'hijas' -->
{% block MainContent %}

<h2> Perfil de usuario: </h2>
<br>
<!-- aca indico que del usuario actual me traiga el perfil (adociado al model) -->
<p>{{request.user.perfil}}</p> 
<p>Edad: {{request.user.perfil.edad}}</p>
<p>Imagen de perfil: </p> <img src="{{request.user.perfil.imagen.url}}" alt="Profile-pic" height="100px">
<br><br>
<!-- paso el dato id del perfil por parametro para editarlo -->
<a href="{% url 'editar perfil' request.user.perfil.pk %}"><button class="btn btn-primary">Editar Perfil</button></a>

<br><br><br>
{% if messages %}
  <ul class="messages alert alert-info">
    {% for message in messages %}
      <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
    {% endfor %}
  </ul>
{% endif %}



{% endblock  %}