{% extends './base-forms.html' %}

{% load static %}

{% block MainContent %}

<br><br><br>
<div class="alert alert-dark" role="alert">
    
    {% if producto == 0 %}
        <span style="color: red;">Producto sin stock!</span>
    {% else %}
        {% for p in producto %}
        <div>
            <!-- imprimo el nombre del prod (como este definido en el modelo) -->
            <h4> Producto: {{p.nombre}} </h4>
            <h5> ${{p.stock}} </h5>
            <p> {{p.precio}}. </p>
            <p> {{p.descripcion}} </p>
            <br><br>
        </div>
        {% endfor %}
    
    {% endif %}

</div>
<br><br><br>
<a href="{% url 'nuestros_productos' %}"><button type="button" class="btn btn-sm btn-outline-success">
    Vovler </button></a>

{% endblock MainContent %}